SECRETS = {
        "censys_scan": {
            "UID": "xxxxxxxxxxxxxxxxxxxxx",
            "SECRET": "xxxxxxxxxxxxxxxxxxxxx"
            },

        "openweather": {
            "APPID": "xxxxxxxxxxxxxxxxxxxxx"
            }
        }
