SECRETS = {
    "keys": {
        "secret_key": "xxxxxxxxxxxxxxxxxxxxxxxxxx"

    },
    
    "censys_scan": {
        "UID": "xxxxxxxxxxxxxxxxxxxxx",
        "SECRET": "xxxxxxxxxxxxxxxxxxxxx"
        },

    "openweather": {
        "APPID": "xxxxxxxxxxxxxxxxxxxxx"
        }
    }

